@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Knewave&family=Noto+Sans+Mono:wght@100..900&display=swap');

@media (max-width: 320px) {
    
    nav {
        display: none;
    }
    
    nav a {
        padding: 15px;
        font-size: 25px;
        font-family: "Noto Sans Mono";
    
    }
    main {
        grid-template-columns: 1fr;
        /* grid-template-areas: 
        "buttons buttons"
        "cards aside"; */
    }
    
    .foodGenres {
        display: flex;
        flex-direction: column;
    }
    
    /* .foodGenres button, .buttonArea button {
        background-color: #59534A;
        border: none;
        border-radius: 1rem;
        padding: 10px;
        font-size: 20px;
        width: 75%;
        color: white;
    } */
    
    /* .foodGenres button:hover, .buttonArea button:hover {
        background-color: #81796c;
        border: none;
        border-radius: 1rem;
        padding: 10px;
        font-size: 20px;
        width: 250px;
        color: white;
    } */
    
    
    #dinnerRecipesArea {
        grid-area: cards;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
        gap: 20px;
    }
    
    /* #dinnerRecipesArea div {
        border: 2px solid #363537;
        padding: 20px;
        height: fit-content;
        grid-template-columns: 1fr;
    
    } */
    
    /* #dinnerRecipesArea div .favorite-btn {
        border: none;
    } */
    
    #dinnerRecipesArea div h3 {
        text-align: center;
        font-family: "Noto Sans Mono";
        font-size: 20px;
    }
    
    #dinnerRecipesArea div ul, #dinnerRecipesArea div p{
        font-family: "Noto Sans Mono";
    }
    
    #dinnerRecipesArea div li {
        font-family: "Knewave";
    }
    
    .buttonArea {
        display: flex;
        justify-content: center;
    }
    
    #favorites {
        grid-area: aside;
        list-style-type: number;
        padding: 20px;
        font-family: "Noto Sans Mono";
    }
    
    dialog {
        position: relative;
        width: 500px;
    }
    
    dialog ul {
        list-style-type: number;
    }
    
    dialog li {
        padding-bottom: 10px;
    }
    
    dialog button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #59534A;
        border: none;
        border-radius: 0.25rem;
        padding: 10px;
        font-size: 20px;
        color: white;
    }

}