@media (min-width: 321px) {
    nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

#menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px dashed black;
}

nav a {
    display: block;
    flex: 1 1 100%;
}

    .imageArea {
        justify-content: space-evenly;
    }

    .imageArea img{
        width: 350px;
        padding: 10px;
    }

}