@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Knewave&family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    background-color: #F1F2E3;
    color: #363537;
}

h1, h2, h3, h4 {
    font-family: "Delius Swash Caps", serif;;
}

h1 {
    font-size: 45px;
}

header {
    display: block;
    border-bottom: 4px dashed black;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav a {
    display: none;
    padding: 15px;
    font-size: 25px;
    font-family: "Noto Sans Mono";

}

.active {
    background-color: rgba(255, 255, 255, 0.5);
}

nav a:hover {
    border-bottom: black dotted 4px;
    text-decoration: none;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#menu::before {
    content: "\002630";
}

.open a {
    display: block;
}

main {
    padding-top: 25px;
}

.description {
    text-align: center;
    border-bottom: 3px dashed black;
    padding-bottom: 15px;

}

.imageArea {
    display: flex;
    flex-wrap: wrap;
}

.imageArea img {
    width: 100%;
    padding-bottom: 10px;
}

.ourfavorites {
    text-align: center;
    padding-top: 15px;
}

.ourfavorites h3 {
    font-size: 30px;
}