@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Knewave&family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    background-color: #F1F2E3;
    color: #363537;
}

h1, h2, h3, h4 {
    font-family: "Delius Swash Caps", serif;;
}

h1 {
    font-size: 45px;
}

header {
    display: block;
    border-bottom: 4px dashed black;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.active {
    background-color: rgba(255, 255, 255, 0.5);
}

nav a {
    display: none;
    padding: 15px;
    font-size: 25px;
    font-family: "Noto Sans Mono";

}

nav a:hover {
    border-bottom: black dotted 4px;
    text-decoration: none;
}

main {
    margin: 0 auto;
    max-width: fit-content;
}

#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#menu::before {
    content: "\002630";
}

.open a {
    display: block;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#subscriptionForm {
    border: 2px solid #363537;
    /* max-width: fit-content; */
    padding: 20px;
    /* width: 500px; */
}

form label {
    display: block;
    padding: 15px;
    font-size: 20px;
    font-family: "Noto Sans Mono";
}

input[type=text],
input[type=email]
{
    display: block;
    width: 200px;
    padding: 7px;
    border: 2px solid #363537;
}

input[type=checkbox]
{
    width: 25px;
    height: 25px;
}

#subscriptionForm section {
    display: flex;
    justify-content: center;
}

input[type=submit]
{
    background-color: #595959;
    border: none;
    border-radius: 1rem;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    color: white;
}

input[type=submit]:hover {
    background-color: #81796c;
}