@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Tinos&display=swap');

    header, footer {
        font-family: "Tinos", serif;
    }
    header {
        display: flex;
        background-color: rgb(1, 80, 1);
        color: white;
    }
        
    header h1 {
        font-size: 45px;
        position: relative;
        top: 0.5rem;
    }
        
    header img {
        padding: 20px;
    }
        
    nav {
        display: flex;
        justify-content: flex-end;
        background-color: #0B380B;
    }
        
    nav a {
        color: white;
        padding: 15px;
        text-decoration: none;
        font-size: 30px;
    }
        
    nav a:hover {
        background-color: rgba(23, 113, 23, 0.234);
    }
        
    #menu {
        display: none;
    }
        
    main {
        margin: 0 auto;
        padding: 5px;
        gap: 20px;
    }

    .visitArea {
        width: 25%;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        border: 1px solid black;
        border-radius: 2rem;
        background-color: lightgray;
        margin-bottom: 10px;
    }

    .visitArea h2 {
        font-family: "Tinos", serif;
        font-size: 30px;
    }

    .lastVisited {
        font-size: 20px;
    }

    .cardArea {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .cardArea section {
        border: 2px solid black;
        text-align: center;
        padding: 5px;

        display: grid;
        grid-template-areas:
        "name ."
        "image address"
        "image description"
        "button button";
    }

    .cardArea section img:hover {
        transform: rotate(10deg);
    }
     
    

    .cardArea section h2 {
        grid-area: name;
        font-family: "Tinos", serif;
        font-size: 35px;
    }

    .cardArea section figure {
        grid-area: image;
    }

    .cardArea section address {
        grid-area: address;
    }

    .cardArea section p {
        grid-area: description;
        font-family: "Markazi Text", serif;
        font-size: 20px;
    }

    .cardArea section button {
        grid-area: button;
        font-family: "Markazi Text", serif;
        font-size: 25px;
        height: 34px;
    }
        
    .active {
        background-color: rgba(1, 7, 1, 0.2);
    }
    
    #socialLinks {
        align-content: center;
    }
        
    #socialLinks img {
        padding: 10px;
    }
        
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgb(1, 80, 1);
        color: white;
        padding-left: 5px;
    }

    
