@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
header,
h2,
footer {
    background-color: darkcyan;
    text-align: center;
    font-family: 'Architects Daughter', serif;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

header img {
    padding: 10px;
}

.active {
    background-color: rgb(1, 63, 63);
}

nav {
    background-color: rgb(1, 191, 191);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

nav a {
    color: white;
    font-size: 25px;
    font-family: 'Nunito', serif;
    display: flex;
    justify-content: space-around;
}

#menu {
    display: none;
}

a:hover {
    background-color: rgb(90, 228, 228);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px;
    grid-row-gap: 25px;
    grid-column-gap: 125px;
}

figcaption {
    text-align: center;
    font-family: "Nunito";
    font-size: 20px;
}

section {
    border: 2px solid black;
}

#allButton,
#cseButton,
#wddButton {
    flex: 1 1 auto;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(157, 14, 14);
    color: lightgray;
    border: 2px solid rgb(110, 10, 10);
    font-family: "Nunito";
    border-radius: 1rem;
    margin: 10px;
}

#buttonArea {
    display: flex;
    padding: 20px;
}

#allButton:hover,
#cseButton:hover,
#wddButton:hover {
    background-color: rgb(246, 26, 26);
    border: 2px solid rgb(210, 22, 22);
}

.courseCard {
    background-color: cyan;
    font-family: "Architects Daughter";
}

.courseArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 25px;
    grid-gap: 15px;
    padding: 20px;
}

section h2 {
    font-size: 35px;
    margin-top: 0;
}

.courseWork {
    grid-column: 1 / 3;
}

.location {
    grid-column: 3 / 4 ;
}

.certificate {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.certificate p {
    text-align: center;
    font-size: 30px;
    font-family: "Nunito";
}

footer {
    padding: 15px;
    font-size: 30px;
}